.job {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid rgb(209, 206, 206);
  position: relative;
}
.heading {
  margin: 10px 20px;
}
.job-title {
  margin-right: 6px;
}
a {
  text-decoration: none;
  color:rgb(50, 142, 218);
}
.logo{
    position: absolute;
    right:10px;
    top:20px;

    width: 50px;
}